form {
	width: 500px;
	margin: auto;
}

input, textarea {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13px;
	background-color: rgba(255,255,255,.8);
}

input:hover, textarea:hover {
	background-color: #dddddd;
}

legend {
	color: #888888;
	font-weight: bold;
	font-size: 13pt;
	font-family: sans-serif;
}

fieldset {
	border-color: #cecece;
	margin: 20px;
}

label {
	font-size: 13px;
	font-weight: bold;
}

fieldset#sexo {
	width: 150px;
}

fieldset#usuario {
	background: url("../_imagenes/1.png") no-repeat 95% 95%;
}
fieldset#direccion {
	background: url("../_imagenes/2.png") no-repeat 95% 95%;
}
fieldset#mensaje {
	background: url("../_imagenes/3.png") no-repeat 95% 95%;
}
fieldset#pedido {
	background: url("../_imagenes/4.png") no-repeat 95% 95%;
}

input#cBoton {
	display: block;
	position: relative;
	margin: auto;
}