@charset "UTF-8";

div#tv-radio {
	width: 900px;
	height: 580px;
	margin: auto;
	background: url("../_imagenes/radio-tv.png") no-repeat;
}

audio#musica {
	display: block;
	position: relative;
	left: 350px;
	top: 490px;
	width: 200px;
	height: 20px;
}

video#pelicula {
	display: block;
	position: relative;
	left: 270px;
	top: 170px;
	width: 350px;
	border-radius: 54px 54px 54px 54px;
-moz-border-radius: 54px 54px 54px 54px;
-webkit-border-radius: 54px 54px 54px 54px;
border: 0px solid #000000;
}

